#cy {
  border-radius: 15px;
  height: 98%;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 1%;
  background-color: white;
  box-shadow: -3px 0px rgb(231, 230, 230);
}
h1 {
  position: absolute;
  left: 2%;
  font-family: Raleway;
}
#cy1 {
  border-radius: 15px;
  stroke-width: 20px;
  height: 98%;
  width: 29%;
  position: absolute;
  left: 70%;
  top: 1%;
  background-color: white;
}
body {
  background-color: #f7f7f7;
  font-family: "proxima-nova", sans-serif;
}
.select-box select {
  font-size: 14px;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  height: 100px;
  width: 250px;
  top: 21.2%;
  left: 40px;
  border: 0px;
  background-color: white;
}

#reachability {
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 20px;
  column-count: 2;
  border-radius: 15px;
  height: 100px;
  width: 250px;
  position: absolute;
  left: 300px;
  top: 21.2%;
  background-color: rgb(255, 255, 255);
}
#reach_count {
  word-wrap: break-word;
  font-size: 38px;
  padding: 24px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  height: 100px;
  width: 125px;
  position: absolute;
  left: 425px;
  top: 21.2%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #ff6d86;
}

#silo {
  font-size: 14px;
  padding: 20px;
  border-radius: 15px;
  height: 100px;
  width: 250px;
  position: absolute;
  left: 40px;
  top: 33%;
  background-color: rgb(255, 255, 255);
}
#silo_count {
  font-size: 38px;
  padding: 24px;
  border-radius: 15px;
  height: 100px;
  width: 125px;
  position: absolute;
  left: 165px;
  top: 33%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #ff6d86;
}

#iso {
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 20px;
  column-count: 2;
  border-radius: 15px;
  height: 100px;
  width: 250px;
  position: absolute;
  left: 300px;
  top: 33%;
  background-color: rgb(255, 255, 255);
}
#iso_count {
  font-size: 38px;
  padding: 24px;
  border-radius: 15px;
  height: 100px;
  width: 125px;
  position: absolute;
  left: 425px;
  top: 33%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #ff6d86;
}

#observation {
  font-size: 16px;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  height: 500px;
  width: 510px;
  position: absolute;
  left: 2%;
  top: 45%;
  background-color: rgb(255, 255, 255);
}

.section {
  position: absolute;
  font-size: 14px;
  border-radius: 15px;
  padding: 1.4em;
  max-height: 500px;
  overflow-y: auto;
  direction: ltr;
  width: 510px;
  left: 2%;
  top: 45%;
  scrollbar-width: thin;
  background-color: rgb(255, 255, 255);
}

.section::-webkit-scrollbar {
  width: 13px;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 100px;

  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #5da9ff;
}

* {
  box-sizing: border-box;
}
#instruction {
  width: 510px;
  word-wrap: break-word;
  position: absolute;
  left: 2%;
  top: 8%;
  color: #ff6d86;
}
#blue {
  font-size: 16px;
  color: #5da9ff;
}
#green {
  color: #51dfc2;
}
#pink {
  color: #ff6d86;
}
#pink {
  color: #ffc570;
}
